{# works, always uses HTTPS even without an explicit redirect #}

<VirtualHost *:80>
   ServerName {{ vhost_domain }}
   DocumentRoot {{ vhost_wwwroot }}

   <Directory {{ vhost_wwwroot }}/>
      Options FollowSymlinks
      AllowOverride All
      Require all granted
      {# https://yourls.org/docs/guide/server-configuration#apache #}
      RewriteRule "(^|/)\.(?!well-known\/)" - [F]
   </Directory>

   ErrorLog ${APACHE_LOG_DIR}/{{ vhost_domain }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ vhost_domain }}_access.log combined
</VirtualHost>

{% if (yourls.www.enable_tls | bool) %}
<VirtualHost *:443>
   ServerName {{ vhost_domain }}
   DocumentRoot {{ vhost_wwwroot }}

   <Directory {{ vhost_wwwroot }}/>
      Options FollowSymlinks
      AllowOverride All
      Require all granted
      {# https://yourls.org/docs/guide/server-configuration#apache #}
      RewriteRule "(^|/)\.(?!well-known\/)" - [F]
   </Directory>

   SSLEngine on
   SSLCertificateKeyFile   /etc/letsencrypt/live/{{ vhost_domain }}/privkey.pem
   SSLCertificateFile      /etc/letsencrypt/live/{{ vhost_domain }}/cert.pem
   SSLCertificateChainFile /etc/letsencrypt/live/{{ vhost_domain }}/chain.pem

   ErrorLog ${APACHE_LOG_DIR}/{{ vhost_domain }}_error.log
   CustomLog ${APACHE_LOG_DIR}/{{ vhost_domain }}_access.log combined
</VirtualHost>
{% endif %}
